.main {
	height: 100%;
	width: 100%;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#235AAD), to(#27348A));
}

.head {
	text-align: center;
	height: 171.5px;
	background: url(../img/top.png) no-repeat 50%;
	background-size: cover;
	position: relative;
	background-size: contain;
	margin-top: 13.4%;
}

.head img {
	position: absolute;
	left: 15px;
	top: -10%;
	width: 75px;
	height: 20px
}

.content {
	position: relative
}

.invite,.represent {
	position: absolute
}

input {
	margin-top: 103px;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 14px;
	color: #3382d9
}

input::-webkit-input-placeholder {
	color: #FFD857;
	font-size: 14px
}

.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px
}

.list {
	display: inline-block;
	text-align: center;
	margin-top: 16px
}

.list .choosed {
	position: relative
}

.list .choosed:after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 2.5px solid #faf5d6;
	border-radius: 12px
}

.list p {
	font-size: 11px;
	color: #decda3
}

.list img {
	width: 70px;
	height: 70px;
	border-radius: 10px
}

.img-wrapper {
	position: relative;
	display: inline-block;
	line-height: 0;
	box-sizing: border-box
}

.list .represent {
	right: 0;
	bottom: 0
}

.list .represent img {
	width: 40px;
	height: 40px
}

.list .invite {
	right: 0;
	bottom: 0
}

.list .invite img {
	width: 40px;
	height: 40px
}

.dialog-content {
	position: fixed;
	box-sizing: border-box;
	width: 310px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background: #0f4683;
	border-radius: 4px;
	border-top: 4px solid #e4d6ae
}

.dialog-content .text {
	color: #fff;
	font-size: 14px;
	height: 100px;
	width: 310px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-bottom: 1px solid #06346d
}

.btn-group {
	height: 45px;
	text-align: center;
	line-height: 45px;
	color: #e4d6ae
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.5)
}

@media screen and (min-width:320px) and (max-width:350px) {
	.content {
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 10px
	}

	.list {
		margin-top: 5px
	}

	.head {
		height: 146px
	}

	input {
		margin-top: 86px
	}
}

@media screen and (max-width:410px) and (min-width:390px) {
	.content {
		margin-right: 30px;
		margin-left: 30px
	}
}

@media screen and (min-width:410px) {
	.content {
		margin-right: 35px;
		margin-left: 35px
	}
}

@media screen and (min-width:414px) {
	.content {
		margin-right: 50px;
		margin-left: 50px
	}
}

@media screen and (min-height:812px) {
	.list {
		margin-top: 40px
	}
}

@media screen and (max-height:811px) and (min-height:730px) {
	.list {
		margin-top: 30px
	}
}